.bg{
  background-image: url('/pixel5.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.color {
  border-radius: 80%;
  border: 3px solid black;
  display: inline-block;
  padding: 24px;
}

.pixel {
  display: inline-block;
  border: 3px solid black;
  width: 40px;
  height: 40px;
  background-color: white;
  max-width: 250px;
}

.pixel-board {
  width: 250px;
}

#clear-board {
  margin: 10px;
  border: 3px solid black;
}
